<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Girls blog</title>
</head>
<body>
    <header>
        <h1><a href="/">Django Girls Blog</a></h1>
    </header>

    <article>
        <time>published: 14.06.2014, 12:14</time>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ratione repudiandae tempore asperiores quisquam libero atque fugit quasi sapiente delectus esse, numquam corporis repellat placeat cum? Pariatur beatae voluptate recusandae.</p>
    </article>

    <article>
        <time>published: 14.06.2014, 12:14</time>
        <h2><a href="">My second post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, corporis rem nulla explicabo tempora voluptatem debitis praesentium tenetur repellendus quasi nobis libero illum doloremque aliquam! Temporibus accusamus tenetur in consequatur.</p>
    </article>
</body>
</html>